In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv("../Dataset/StudentsPerformance.csv")

In [3]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1. Selecting one column

# 1.1 syntax 1

In [4]:
# select a column using the square bracket[] (preferred way to select a column)
df_exams["gender"]

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [5]:
# check out the data type of a column
type(df_exams["gender"])

pandas.core.series.Series

In [6]:
# series: attributes and methods
df_exams["gender"].index

RangeIndex(start=0, stop=1000, step=1)

In [7]:
df_exams["gender"].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

# 1.2 Syntax 2

In [8]:
# select a column with .
df_exams.lunch

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [9]:
# select a column with . (pitfalls)
df_exams.math score

SyntaxError: invalid syntax (3061062658.py, line 2)

In [10]:
# select the same column 
df_exams["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64