In [1]:
import pandas as pd

In [2]:
# reading the csv file
df_exams = pd.read_csv("../Dataset/StudentsPerformance.csv")

In [3]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# 1. Value Counts

In [5]:
# counting gender elements

# using len function
len(df_exams["gender"])

1000

In [6]:
# using the count method
df_exams["gender"].count()

1000

In [8]:
# counting gender elements by category
df_exams["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [12]:
# return the relative frequency (divide all values by the sum of values)
df_exams["gender"].value_counts(normalize = True).round(2)

gender
female    0.52
male      0.48
Name: proportion, dtype: float64

In [10]:
# counting "parental level of education" by category
df_exams["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [13]:
# return the relative frequency and round to 2 decimals
df_exams["parental level of education"].value_counts(normalize = True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

In [14]:
df_exams["race/ethnicity"].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [15]:
df_exams["race/ethnicity"].value_counts(normalize = True)

race/ethnicity
group C    0.319
group D    0.262
group B    0.190
group E    0.140
group A    0.089
Name: proportion, dtype: float64

In [16]:
df_exams["lunch"].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [18]:
df_exams["lunch"].value_counts(normalize = True)

lunch
standard        0.645
free/reduced    0.355
Name: proportion, dtype: float64

In [19]:
df_exams["test preparation course"].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [20]:
df_exams["test preparation course"].value_counts(normalize = True)

test preparation course
none         0.642
completed    0.358
Name: proportion, dtype: float64